*.o
CMakeCache.txt
Makefile
.idea
cmake-build-debug
*.cmake
CMakeFiles
cvtask1b
*.cbp
Exemplar-Based-Inpaining-Python-master
*.bak
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.iml
*.swp
*.xml
output/
dif/
CMakeFiles/
build/

cmake-build-debug/
